<%= form_for [@course, @review] do |f| %>
  <%= f.text_field :star %>
  <%= f.text_field :comment %>
  
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :course_id %>
  
  <div class="actions">
    <%= f.submit "Create Review" %>
  </div>
<% end %>